body {
  margin: 0px;
  background-color: #eeeff1;
  font-family: sans-serif;
  color: #262626;
}

/* Navagation Menu */
nav {
  padding: 20px 5%;
  background-color: #18e9cc;
  background-image: linear-gradient(345deg, #00305a, transparent);
}
.navbar-title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5rem;
  font-weight: 500;
  font-size: 25pt;
  color: #00305a;
  text-decoration: none;
}

.nav-menu {
  margin-left: auto;
  float: right;
}
.nav-list {
  list-style: none;
  display: inline-flex;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
  padding: 5px 10px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 600;

}

.nav-item a:hover {
  border-bottom: 1px solid #00305a;
}

.active {
  border-bottom: 1px solid #00305a;
}

/* Top Section - Home Page */

.top-section {
  background-color: #00305a;
  color: white;
  padding-bottom: 20px;
}

.top-title {
    margin-left: 15px;
    font-style: italic;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.img-holder {
  text-align: center;
}

.img-placeholder {
  display: inline-block;
  background: lightgrey;
  width: 200px;
  height: 200px;
  margin: 10px;
}

/* Profile Section */

.profile-section {
  margin: 5px 20px 50px 5px;
}

.img-placeholder-small {
  float: left;
  background-color: lightgrey;
  width: 125px;
  height: 125px;
  margin: 1px 15px;
}

.profile-name {
  font-weight: bold;
  font-size: 15pt;
  margin-bottom: 1px;
}
.pronouns-text {
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
}

/* Main Content Wrapper */

.main-content {
  padding: 20px 10%;
}

/* Section Divs */

.section {
  padding: 10px 20px;
}



/* Table styling */

table {
  border: 1px solid black;
  border-collapse: collapse;
}
th,td {
  padding: 5px;
  border: 1px solid black;
}

thead {
    background-color: #00305a;
    color: white;
}

.light-bg {
  background: ghostwhite;
}

.dark-bg {
    background-color: #eeebf1;
}

.center-align {
  margin-left: auto;
  margin-right: auto;
}

.inline-table {
  display: inline-table;
}

.inline-table-1 {
  width: 35%;
}
.inline-table-2 {
  width: 25%
}
.inline-table-3{
  width: 35%;
}

/* Footer Section */
footer{
  color: white;
  background-color: #00305a;
  margin-bottom: 0px;
  padding: 5px 30px;
  font-size: 10pt;
}
